In [ ]:
# Entrada e Saida de Dados do Pandas
# site de documentacao: https://pandas.pydata.org/docs/user_guide/io.html

# ler arquivos CSV
# https://en.wikipedia.org/wiki/Comma-separated_values

# dados das tabelas, onde as colunas estao separadas por (,)

In [2]:
import pandas as pd
df1 = pd.read_csv("exemplo.csv", sep=",", decimal=".")
# shift + tab (abre todas as opcoes que podemos usar junto com o method read

In [3]:
df1

          0         1         2         3
0 -0.394813 -0.694630  0.253393  0.602590
1 -2.134217  1.141381 -0.130142  0.690936
2 -0.223754  0.365133 -0.104233 -0.182788
3  0.108066  0.331332  0.053708 -0.280468
4  0.085290  0.740834 -0.596941  0.243950

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
dtypes: float64(4)
memory usage: 292.0 bytes

In [5]:
# fazer uma copia do arquivo
df1.to_csv("exemplo2.csv", sep=";", decimal=",")

## Excel

Pandas podem ler e escrever arquivos do Excel, tenha em mente, isso só importa dados. Não fórmulas nem imagens, lembrando que imagens ou macros podem bugar o método.

In [1]:
#Bibliotecas necessárias para trabalhar com excel
!pip install xlrd
!pip install openpyxl

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (2.0.0)

In [12]:
# ENTRADA VIA  EXCEL

import pandas as pd
import os

print("Diretório atual:", os.getcwd())  # Verifica onde está rodando

Diretório atual: C:\Users\user\Downloads\Analyzing_Data_Pandas_SQL

In [31]:
#df = pd.read_excel(r'C:\Users\user\Downloads\Analyzing_Data_Pandas_SQL\teste.xlsx', sheet_name='Sheet1')
#print(df.head())

In [18]:
import os

# Verifica o diretório atual
print("Diretório atual:", os.getcwd())

# Lista todos os arquivos da pasta
print("Arquivos na pasta:")
print(os.listdir())

Diretório atual: C:\Users\user\Downloads\Analyzing_Data_Pandas_SQL
Arquivos na pasta:
['.git', '.gitignore', '.ipynb_checkpoints', '10_Data_input_output.ipynb', '1_table_data.ipynb', '2_Series.ipynb', '3_DataFrame.ipynb', '4_Hierarq_indic_indic_multip.ipynb', '5_dealing_missing_data.ipynb', '6_GroupBy.ipynb', '7_Merge_join_concat.ipynb', '8_Op_DataFrame.ipynb', '9_Date_temp_visual_Date.ipynb', 'exemplo.csv', 'exemplo2.csv', 'img_project', 'Inf_import_PY_codig', 'LICENSE', 'README.md', 'supermarket_sales.csv', 'teste.xlsx']

In [25]:
import pandas as pd

arquivo = r'C:\Users\user\Downloads\Analyzing_Data_Pandas_SQL\teste.xlsx'
xls = pd.ExcelFile(arquivo)

print(xls.sheet_names)  # Vai mostrar uma lista com os nomes das abas no Excel

['Plan1', 'Plan2', 'Plan3']

In [30]:
df = pd.read_excel(arquivo, sheet_name='Plan1') # sheet_name='NOME_EXATO_DA_ABA'
print(df.head()) # Se quiser só uma aba específica (exemplo Plan1), aí sim:

#pd.read_excel: é a função do pandas que lê um arquivo Excel e transforma os dados em um DataFrame (uma tabela que o pandas entende).

#arquivo: é a variável que contém o caminho completo do arquivo Excel que você quer abrir, tipo 'C:\\Users\\user\\Downloads\\teste.xlsx'.

#sheet_name='Plan1': aqui você diz qual aba (ou planilha) dentro do arquivo Excel você quer ler. O nome precisa ser exatamente igual ao que está no arquivo (case sensitive). No seu caso, a aba chama "Plan1".

#O resultado desse comando é que o conteúdo da aba "Plan1" vai ser carregado numa variável chamada df, que é um DataFrame do pandas.

  Unnamed: 0 Unnamed: 1 Unnamed: 2
0        NaN        NaN        NaN
1       nome      idade     cidade
2      vitor         22         SP
3      carla         34        SJC
4        ana         43         SC

In [28]:
# Como fazer para imprimir as primeiras linhas de cada aba:
import pandas as pd

arquivo = r'C:\Users\user\Downloads\Analyzing_Data_Pandas_SQL\teste.xlsx'

# Lendo várias abas (Plan1, Plan2, Plan3)
df = pd.read_excel(arquivo, sheet_name=['Plan1', 'Plan2', 'Plan3'])

# df é um dict: chave = nome da aba, valor = DataFrame daquela aba
for sheet, data in df.items():
    print(f"\nPrimeiras linhas da aba: {sheet}")
    print(data.head())

Primeiras linhas da aba: Plan1
  Unnamed: 0 Unnamed: 1 Unnamed: 2
0        NaN        NaN        NaN
1       nome      idade     cidade
2      vitor         22         SP
3      carla         34        SJC
4        ana         43         SC

Primeiras linhas da aba: Plan2
Empty DataFrame
Columns: []
Index: []

Primeiras linhas da aba: Plan3
Empty DataFrame
Columns: []
Index: []

In [34]:
# SAIDA VIA EXCEL
df.to_excel(arquivo, sheet_name='Plan1') # sheet_name='NOME_EXATO_DA_ABA'
print(df.head()) # Se quiser só uma aba específica (exemplo Plan1), aí sim:
# Quando você usa df.to_excel() sem configurar alguns parâmetros, o pandas salva também o índice do DataFrame como uma coluna extra no arquivo Excel. Isso causa aquelas colunas chamadas "Unnamed: 0" ou números, que aparecem do lado esquerdo no Excel.

  Unnamed: 0 Unnamed: 1 Unnamed: 2
0        NaN        NaN        NaN
1       nome      idade     cidade
2      vitor         22         SP
3      carla         34        SJC
4        ana         43         SC

### Entrada HTML

A função Pandas read_html irá ler tabelas fora de uma página da Web e retornar uma lista de objetos DataFrame:

In [1]:
import pandas as pd
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [36]:
# erro new lib
!pip3 install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp310-cp310-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.4.0-cp310-cp310-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 3.3 MB/s eta 0:00:01
   ---------------- ----------------------- 1.6/3.8 MB 4.6 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 5.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 4.5 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.4.0

In [38]:
!pip3 install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\roaming\python\python310\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [39]:
!pip3 install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from bs4) (4.13.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->bs4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->bs4) (4.13.2)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [3]:
pip install lxml

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (5.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\user\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [4]:
pip install beautifulsoup4 html5lib

Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (4.12.3)
Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from html5lib) (0.5.1)
Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\user\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df_list = pd.read_html(url)

print(len(df_list))      # Quantas tabelas foram lidas
print(df_list[0].head()) # Mostrar as primeiras linhas da primeira tabela

1
                               Bank Name          City         State   Cert  \
0                   Pulaski Savings Bank       Chicago      Illinois  28611
1     The First National Bank of Lindsay       Lindsay      Oklahoma   4134
2  Republic First Bank dba Republic Bank  Philadelphia  Pennsylvania  27332
3                          Citizens Bank      Sac City          Iowa   8758
4               Heartland Tri-State Bank       Elkhart        Kansas  25851

                Acquiring Institution      Closing Date  Fund  Sort ascending
0                     Millennium Bank  January 17, 2025                 10548
1  First Bank & Trust Co., Duncan, OK  October 18, 2024                 10547
2   Fulton Bank, National Association    April 26, 2024                 10546
3           Iowa Trust & Savings Bank  November 3, 2023                 10545
4              Dream First Bank, N.A.     July 28, 2023                 10544

In [7]:
df_list[0] # data frame do site

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [ ]:
#Aqui, a função pd.read_html() lê todas as tabelas presentes na página HTML indicada pela url.

#Essa função retorna uma lista de DataFrames (df_list), onde cada DataFrame corresponde a uma tabela extraída da página.

#Por isso, mesmo que tenha só uma tabela, o resultado é sempre uma lista.

In [ ]:
# Qual dos métodos abaixo é utilizado para combinar DataFrames com base nos índices em vez das colunas?
# Join