# Hierarquia de indices e indices multiplos

In [12]:
import pandas as pd
import numpy as np

In [13]:
# Niveis de indices
# 2 listas []
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3, 1,2,3]

hier_index = list(zip(outside,inside)) # uma lista onde coloco junto as informacoes

In [14]:
hier_index # criou uma tupla com os pares isso que o zip faz encaixa as 2 listas

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
# indice multiplo
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
# criar um df com (6, 2) 6 linhas e 2 colunas, que sera o indice que esta criando hier_index
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df
#Cria 2 camadas de indices, poderia ser qto cada mulher gasta em cada filiar
# indices com camadas

             A         B
G1 1  2.264421  1.120405
   2 -0.413015  0.291532
   3 -1.348845 -0.421270
G2 1  1.181853  0.703453
   2  0.462991 -0.120681
   3  0.878247 -0.094004

In [18]:
# retorno com 1 df
df.loc['G1']

          A         B
1  2.264421  1.120405
2 -0.413015  0.291532
3 -1.348845 -0.421270

In [19]:
# metodo apartir do . (ponto)
df.loc['G1'].loc[1]

A    2.264421
B    1.120405
Name: 1, dtype: float64

In [20]:
# pedir nome do index e do dataframe
df.index.names

FrozenList([None, None])

In [21]:
# colocando nome do df
df.index.names = ['Grupo', 'Numero']

In [22]:
df

                     A         B
Grupo Numero
G1    1       2.264421  1.120405
      2      -0.413015  0.291532
      3      -1.348845 -0.421270
G2    1       1.181853  0.703453
      2       0.462991 -0.120681
      3       0.878247 -0.094004

In [23]:
# metoth  xs que pega o item expecifico
df.xs(1, level='Numero') # pega todas inf da linha 1 de todas series)

              A         B
Grupo
G1     2.264421  1.120405
G2     1.181853  0.703453