# lidar com dados ausentes

# Dados ausentes, exemplo um senso populacional, nem sempre vamos ter acesso a todos os dados,
# tracas estrategias para pegar dados ou ter ferramentas para lidar com essas questoes

In [2]:
import numpy as np
import pandas as pd

In [3]:
# vamos criar um df faltando inf
df = pd.DataFrame({'A': [1,2,np.nan],
                  'B': [5,np.nan,np.nan],
                  'C': [1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
# pd da opcoes para resolver isso, seja preenchendo, tirando fora, ....
# dropna => joga fora os valores NaN => seja linhas ou colunas

In [6]:
df.dropna() # joga fora as linhas (corte nas linhas)

     A    B  C
0  1.0  5.0  1

In [7]:
# cortes nas colunas
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [8]:
df.dropna(axis=1, thresh=2) # limite que ele ve que tem as linhas para descartar =>  thresh: 'int | lib.NoDefault' = <no_default>,

# ele vai encontrar 2 ou mais valores ausentes e vai descartar

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [9]:
# preencher dados con NaN, sempre que ele encontrar NaN ele colocar 0 ex
df.fillna(0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [10]:
# preencher com uma string
df.fillna('Conteudo') # esse codigo eh importante porque posso colocar essas inf para essa falta de dados nao atrapalhar meus dados

          A         B  C
0       1.0       5.0  1
1       2.0  Conteudo  2
2  Conteudo  Conteudo  3

In [11]:
# fazer a media e tambem pode fazer a soma dos valores (sum)
df['A'].mean()

np.float64(1.5)

In [12]:
# subst os valores pela media dos valores em branco (NAN)
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [13]:
# pegar o ultimo valor e colocar nos NaN (bom para fazer variacoes cambiais que fica alterando
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [14]:
df.ffill()

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3