# # Dados temporais
# Muitas vezes trabalhando com Dataframes, os dados são orientados de forma temporal, é importante saber manipular esse tipo de dado

# cada linha apresenta um momento diferente na linha do tempo
# informacoes em funcoes do tempo ex supermercado financeiro

In [1]:
import pandas as pd

numero_dias = 100 # variavel

In [2]:
# vai apresentar 100 dias apos a data que eu colocar no comando abaixo
datas = pd.date_range(start='1/1/2022', periods=numero_dias)
# date_range cria valores espacados no tempo

In [3]:
datas

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
               '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
               '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29',
               '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02',
               '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# meus indices serao datas
df = pd.DataFrame(range(numero_dias), columns=["numer"], index=datas)

In [5]:
df

            numer
2022-01-01      0
2022-01-02      1
2022-01-03      2
2022-01-04      3
2022-01-05      4
...           ...
2022-04-06     95
2022-04-07     96
2022-04-08     97
2022-04-09     98
2022-04-10     99

[100 rows x 1 columns]

In [ ]:
#Esse comando cria um DataFrame com datas como índice e uma coluna chamada "numer" contendo valores de 0 até numero_dias - 99 (100)
# É muito usado quando você quer trabalhar com séries temporais (dados ao longo do tempo).

In [6]:
# index com inf dentro do PY com o nome de df.index
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
               '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
               '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29',
               '2022-03-30', '2022-03-31', '2022-04-01', '2022-04-02',
               '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06',
               '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# pegar indiex expecifico
df.index[0]

Timestamp('2022-01-01 00:00:00')

In [8]:
# dia 
df.index[0].day

1

In [9]:
# qual o mes
df.index[0].month

1

In [10]:
# qual o ano
df.index[0].year

2022

In [11]:
# for conjunto de dados com hora:
df.index[0].hour

0

In [12]:
# todos os valores de janeio
df[df.index.month == 1]

            numer
2022-01-01      0
2022-01-02      1
2022-01-03      2
2022-01-04      3
2022-01-05      4
2022-01-06      5
2022-01-07      6
2022-01-08      7
2022-01-09      8
2022-01-10      9
2022-01-11     10
2022-01-12     11
2022-01-13     12
2022-01-14     13
2022-01-15     14
2022-01-16     15
2022-01-17     16
2022-01-18     17
2022-01-19     18
2022-01-20     19
2022-01-21     20
2022-01-22     21
2022-01-23     22
2022-01-24     23
2022-01-25     24
2022-01-26     25
2022-01-27     26
2022-01-28     27
2022-01-29     28
2022-01-30     29
2022-01-31     30

In [13]:
# puxar todos valores que seja o dia 10
df[df.index.day == 10]

            numer
2022-01-10      9
2022-02-10     40
2022-03-10     68
2022-04-10     99

In [14]:
# criar uma coluna para lidar com dados de forma diferente
df["Month"] = df.index.month

In [15]:
df

            numer  Month
2022-01-01      0      1
2022-01-02      1      1
2022-01-03      2      1
2022-01-04      3      1
2022-01-05      4      1
...           ...    ...
2022-04-06     95      4
2022-04-07     96      4
2022-04-08     97      4
2022-04-09     98      4
2022-04-10     99      4

[100 rows x 2 columns]

In [16]:
# import lib datetime
import datetime

In [17]:
df[df.index > datetime.datetime(2022, 1, 10)]
#Esse comando filtra o DataFrame pelas datas do índice, retornando apenas as linhas onde a data é maior que 10/01/2022.

            numer  Month
2022-01-11     10      1
2022-01-12     11      1
2022-01-13     12      1
2022-01-14     13      1
2022-01-15     14      1
...           ...    ...
2022-04-06     95      4
2022-04-07     96      4
2022-04-08     97      4
2022-04-09     98      4
2022-04-10     99      4

[90 rows x 2 columns]