In [33]:
# Trab series => e elementos padrao do PY => variaveis, lista, dicionario

import pandas as pd
import numpy as np # numpy array

In [8]:
# criando variaveis e um dicionario, criando elementos
labels = ['a', 'b', 'c']

minha_lista = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10, 'b':20,'c':30}

In [9]:
# criar os elementos dentro do Pandas
# 1 - usando listas
# instanciar a Series
pd.Series(labels) # vai criar indices de 0 a 2 (0,1,2 na linha)

0    a
1    b
2    c
dtype: object

In [11]:
# eu vou dizer qual indice eu quero (mudar de 0,1,2 para o numero que eu quero)
pd.Series(data=labels, index=minha_lista) # Valor de resposta 10 a, 20 b, 30 c
# no indice posso colocar qualquer coisa strings,numeros. Sempre a Series pede data e index sao as primeiras inf que ele pede

10    a
20    b
30    c
dtype: object

In [12]:
# exemp do mesmo codigo 
pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

In [13]:
# criando outra Series com outras informacoes do dicionario
# outro dicionario com os dados, => {'a': 10, 'b': 20, 'c': 30}
pd.Series(d) # Qdo passa o dicionario a Series ja entende

a    10
b    20
c    30
dtype: int64

In [14]:
d # o pandas conversa muito bem com dicionarios, ele ja encaixa os indices e valores (colunas e linhas)

{'a': 10, 'b': 20, 'c': 30}

In [26]:
# criando uma Series ser1
ser1 = pd.Series([1,2,3,4],index=["EUA", "Alemanha", "USSR", "Japao"]) # passei lista e indices

In [27]:
ser1 # chama a variavel

EUA         1
Alemanha    2
USSR        3
Japao       4
dtype: int64

In [38]:
# criando uma Series ser2
ser2 = pd.Series([1,2,5,4],index=["EUA", "Alemanha", "Italia", "Japao"]) # passei lista e indices
ser2

EUA         1
Alemanha    2
Italia      5
Japao       4
dtype: int64

In [35]:
# consultar o index da Series
ser2['EUA']

np.int64(1)

In [36]:
ser1["USSR"] # selecao de valor eh representada assim ['EUA']

np.int64(3)

In [40]:
ser2[["Italia", "Alemanha"]] # passando uma linsta de strings, retorna a lista 
# string => selecao de 1 indice 
# uma lista quando quero fazer multiplos indices

Italia      5
Alemanha    2
dtype: int64

In [41]:
# operacao artimetica entre duas SERIES
# ele faz a operacao olhando indice por indice
# NaN => nao encontrou fica indefinido
ser1 + ser2

Alemanha    4.0
EUA         2.0
Italia      NaN
Japao       8.0
USSR        NaN
dtype: float64

In [ ]:
# operacoes dentro do PY sao orientados por indices