# lidar com dados ausentes

# Dados ausentes, exemplo um senso populacional, nem sempre vamos ter acesso a todos os dados,
# tracas estrategias para pegar dados ou ter ferramentas para lidar com essas questoes

In [2]:
import numpy as np
import pandas as pd

In [3]:
# vamos criar um df faltando inf
df = pd.DataFrame({'A': [1,2,np.nan],
                  'B': [5,np.nan,np.nan],
                  'C': [1,2,3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3