In [ ]:
# GROUP_BY
# agrupar funcoes => vem do SQL

In [8]:
import pandas as pd
# Cria um DataFrame
data = {'Classe':['Júnior','Júnior','Pleno','Pleno','Sênior','Sênior'],
       'Nome':['Jorge','Carlos','Roberta','Patrícia','Bruno','Vera'],
       'Venda':[200,120,340,124,243,350]}

In [9]:
data

{'Classe': ['Júnior', 'Júnior', 'Pleno', 'Pleno', 'Sênior', 'Sênior'],
 'Nome': ['Jorge', 'Carlos', 'Roberta', 'Patrícia', 'Bruno', 'Vera'],
 'Venda': [200, 120, 340, 124, 243, 350]}

In [10]:
# cria o DataFrame
df = pd.DataFrame(data)

In [11]:
df

   Classe      Nome  Venda
0  Júnior     Jorge    200
1  Júnior    Carlos    120
2   Pleno   Roberta    340
3   Pleno  Patrícia    124
4  Sênior     Bruno    243
5  Sênior      Vera    350

In [ ]:
# usamos sempre que alguma condicao for verificada

In [25]:
# media de venda de cada um dos vendedores
#df.groupby("Classe") # pd faca agrupamento da coluna Classe

In [38]:
# groupby ele agrupa e depois ele vai expandir
# criando uma variavel para somar a coluna de vendas agrupada da coluna Classe
#group = df.groupby("Classe")
group = df.groupby("Classe")["Venda"].sum()
print(group)

Classe
Júnior    320
Pleno     464
Sênior    593
Name: Venda, dtype: int64

In [39]:
group

Classe
Júnior    320
Pleno     464
Sênior    593
Name: Venda, dtype: int64

In [40]:
group.sum()

np.int64(1377)

In [41]:
group.mean()

np.float64(459.0)

In [42]:
group = df.groupby("Classe")["Venda"].mean()
print(group)

Classe
Júnior    160.0
Pleno     232.0
Sênior    296.5
Name: Venda, dtype: float64