In [9]:
# DataFrames => sao as tabelas, sao composicoes de SERIES(COLUNAS)
import pandas as pd
from numpy.random import randn # random => funcao que gera numeros aleatorios

In [10]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split()) # dp => method cria o DataFrame. vai gerar uma tabela de 5, 4 5linhas por 4 colunas.

In [11]:
# executa e veja o DataFrame
df

          W         X         Y         Z
A -1.020020 -0.188938  0.484974  1.699425
B -1.700820 -1.365776  0.557644  0.402300
C -0.555771 -1.481982  0.319883  0.428695
D  2.236007  1.088086  0.021282  0.335742
E  0.118831 -1.440776 -0.899453  0.583541

In [12]:
# tipo de dados => frame.DataFrame
type(df)

pandas.core.frame.DataFrame

In [13]:
# com frame ao usar [] eu tenho que especificar a coluna
df['W'] # retornando uma Series (coluna)

A   -1.020020
B   -1.700820
C   -0.555771
D    2.236007
E    0.118831
Name: W, dtype: float64

In [15]:
# comando para retornar a Series (coluna) => retorno => pandas.core.series.Series
type(df['W'])

pandas.core.series.Series