In [ ]:
# Projeto final

#Bem vindo ao projeto final do curso/módulo de Pandas.
#Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

#1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
#2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

# Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser 
#encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

## Perguntas - Obesity among adults by country, 1975-2016

In [1]:
import pandas as pd
import numpy as np

In [2]:
# ler o arquivo
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")
df_obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [3]:
# - Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. 
#Transforme em float as colunas que porventura foram importadas como string.
# veja as inf como obj, string e preciso q seja float

df_obesity["Obesity (%)"].iloc[0]

'0.5 [0.2-1.1]'

In [4]:
df_obesity["Obesity (%)"].value_counts() # No data             504 nao conseg detectar de inf

Obesity (%)
No data             504
0.4 [0.1-1.0]        55
0.6 [0.2-1.3]        47
0.3 [0.1-0.7]        46
0.3 [0.1-0.8]        46
                   ...
18.5 [14.1-23.7]      1
11.2 [8.8-14.0]       1
19.0 [14.5-24.1]      1
11.9 [9.4-14.7]       1
4.7 [2.5-8.0]         1
Name: count, Length: 16375, dtype: int64

In [5]:
# ver as colunas e ver oque precisa tirar
df_obesity.columns # 'Unnamed: 0', Obesity (%)

Index(['Unnamed: 0', 'Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [28]:
# deletar a coluna 'Unnamed: 0'
del df_obesity['Unnamed: 0']

In [21]:
# criar uma coluna que vai chamar obesity, usando metoth applay com a funcao lambda x
# alteracoes com valores objetos e ainda nao float

df_obesity["Obesity"] = df_obesity["Obesity (%)"].apply(lambda x: x.split()[0])

#dtype: object

In [25]:
# criar uma coluna que vai chamar obesity, usando metoth applay com a funcao lambda x
# alteracoes com valores objetos e ainda nao float

df_obesity["Obesity"]

#dtype: object

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesity, Length: 24570, dtype: object

In [26]:
df_obesity["Obesity"].value_counts() # com .loc abaixo ja tirou
#df_obesity.loc[df_obesity["Obesity"] == "No", "Obesity"] = np.nan

Obesity
0.4     222
0.6     218
0.5     217
0.7     210
0.8     201
       ...
61.9      1
56.8      1
62.1      1
42.7      1
46.5      1
Name: count, Length: 601, dtype: int64

In [22]:
df_obesity.loc[df_obesity["Obesity"] == "No", "Obesity"] = np.nan

In [29]:
df_obesity

           Country  Year       Obesity (%)         Sex Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes     0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male     0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female     0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes     0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male     0.2
...            ...   ...               ...         ...     ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male     4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female    24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes    15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male     4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female    25.3

[24570 rows x 5 columns]

In [30]:
# TODO  PROCED PARA TRANSF EM FLOAT (DE OBJECT PARA FLOAT)
df_obesity["Obesity"] = df_obesity["Obesity"].dropna()

In [32]:
# TODO  PROCED PARA TRANSF EM FLOAT (DE OBJECT PARA FLOAT)
df_obesity["Obesity"]

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesity, Length: 24570, dtype: object

In [33]:
# nao tera mais no
df_obesity["Obesity"].value_counts()

Obesity
0.4     222
0.6     218
0.5     217
0.7     210
0.8     201
       ...
61.9      1
56.8      1
62.1      1
42.7      1
46.5      1
Name: count, Length: 601, dtype: int64

In [35]:
df_obesity["Obesity"].value_counts().rename("Obesity")

Obesity
0.4     222
0.6     218
0.5     217
0.7     210
0.8     201
       ...
61.9      1
56.8      1
62.1      1
42.7      1
46.5      1
Name: Obesity, Length: 601, dtype: int64

In [36]:
# aplicar para float
df_obesity

           Country  Year       Obesity (%)         Sex Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes     0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male     0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female     0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes     0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male     0.2
...            ...   ...               ...         ...     ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male     4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female    24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes    15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male     4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female    25.3

[24570 rows x 5 columns]

In [37]:
# aplicar para float
df_obesity["Obesity"] = df_obesity["Obesity"].apply(lambda x: float(x))
df_obesity["Year"] = df_obesity["Year"].apply(lambda x: int(x))

In [38]:
df_obesity

           Country  Year       Obesity (%)         Sex  Obesity
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes      0.5
1      Afghanistan  1975     0.2 [0.0-0.6]        Male      0.2
2      Afghanistan  1975     0.8 [0.2-2.0]      Female      0.8
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes      0.5
4      Afghanistan  1976     0.2 [0.0-0.7]        Male      0.2
...            ...   ...               ...         ...      ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male      4.5
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female     24.8
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes     15.5
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male      4.7
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female     25.3

[24570 rows x 5 columns]

In [39]:
# definir Year como index e inplace como true
df_obesity.set_index("Year", inplace=True)

In [40]:
df_obesity

          Country       Obesity (%)         Sex  Obesity
Year
1975  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1975  Afghanistan     0.2 [0.0-0.6]        Male      0.2
1975  Afghanistan     0.8 [0.2-2.0]      Female      0.8
1976  Afghanistan     0.5 [0.2-1.1]  Both sexes      0.5
1976  Afghanistan     0.2 [0.0-0.7]        Male      0.2
...           ...               ...         ...      ...
2015     Zimbabwe     4.5 [2.4-7.6]        Male      4.5
2015     Zimbabwe  24.8 [18.9-31.3]      Female     24.8
2016     Zimbabwe  15.5 [12.0-19.2]  Both sexes     15.5
2016     Zimbabwe     4.7 [2.5-8.0]        Male      4.7
2016     Zimbabwe  25.3 [19.1-32.0]      Female     25.3

[24570 rows x 4 columns]

In [41]:
# - Quais os países com maiores e menores níveis percetuais de obesidade em 2015?
# retornar um DF que obtenha somente inf de 2015
df_obesity[df_obesity.index == 2015] # como foi definido como index o year tem que colocar index

          Country       Obesity (%)         Sex  Obesity
Year
2015  Afghanistan     5.2 [3.3-7.7]  Both sexes      5.2
2015  Afghanistan     3.0 [1.3-6.0]        Male      3.0
2015  Afghanistan    7.3 [4.1-11.8]      Female      7.3
2015      Albania  21.1 [16.6-26.0]  Both sexes     21.1
2015      Albania  20.9 [14.4-28.1]        Male     20.9
...           ...               ...         ...      ...
2015       Zambia     3.4 [1.6-6.1]        Male      3.4
2015       Zambia   12.0 [8.2-16.4]      Female     12.0
2015     Zimbabwe  15.2 [11.9-18.8]  Both sexes     15.2
2015     Zimbabwe     4.5 [2.4-7.6]        Male      4.5
2015     Zimbabwe  24.8 [18.9-31.3]      Female     24.8

[585 rows x 4 columns]

In [42]:
# agrupar por sexo, media por sexo
df_obesity[df_obesity.index == 2015].groupby("Sex").mean()

TypeError: agg function failed [how->mean,dtype->object]

In [43]:
df_obesity[df_obesity.index == 2015].groupby("Sex").mean(numeric_only=True)

#Deixe o pandas selecionar apenas colunas numéricas

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

In [44]:
# Selecionar apenas colunas numéricas
numeric_cols = df_obesity.select_dtypes(include='number').columns

# Filtrar ano de 2015 e agrupar
df_obesity[df_obesity.index == 2015].groupby("Sex")[numeric_cols].mean()

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

In [45]:
df_obesity.select_dtypes(exclude='number').columns

Index(['Country', 'Obesity (%)', 'Sex'], dtype='object')

In [46]:
# 1 - - Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

# Selecionar apenas colunas numéricas
numeric_cols = df_obesity.select_dtypes(include='number').columns

# Filtrar ano de 2015 e agrupar
df_obesity[df_obesity.index == 2015].groupby("Sex")[numeric_cols].mean()

              Obesity
Sex
Both sexes  19.508377
Female      22.899476
Male        15.980628

In [ ]:
# 2 - - Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

# criar dois DF com o indix inicial e final
df_obesity_start = df_obesity[df_obesity.index[df_obesity.index == 1975]
df_obesity_end = df_obesity[df_obesity.index[df_obesity.index == 2016]

In [ ]:
# sera preciso fazer um  encaixe de ambos para responder a perg, para isso
# sera necessario q ambos sejam index