In [ ]:
# Projeto final

#Bem vindo ao projeto final do curso/módulo de Pandas.
#Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

#1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
#2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

# Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser 
#encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

## Perguntas - Obesity among adults by country, 1975-2016

In [1]:
import pandas as pd
import numpy as np

In [2]:
# ler o arquivo
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")
df_obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [3]:
# - Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. 
#Transforme em float as colunas que porventura foram importadas como string.
# veja as inf como obj, string e preciso q seja float

df_obesity["Obesity (%)"].iloc[0]

'0.5 [0.2-1.1]'

In [4]:
df_obesity["Obesity (%)"].value_counts() # No data             504 nao conseg detectar de inf

Obesity (%)
No data             504
0.4 [0.1-1.0]        55
0.6 [0.2-1.3]        47
0.3 [0.1-0.7]        46
0.3 [0.1-0.8]        46
                   ...
18.5 [14.1-23.7]      1
11.2 [8.8-14.0]       1
19.0 [14.5-24.1]      1
11.9 [9.4-14.7]       1
4.7 [2.5-8.0]         1
Name: count, Length: 16375, dtype: int64

In [5]:
# ver as colunas e ver oque precisa tirar
df_obesity.columns # 'Unnamed: 0', Obesity (%)

Index(['Unnamed: 0', 'Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [20]:
# deletar a coluna 'Unnamed: 0'
del df_obesity['Unnamed: 0']

KeyError: 'Unnamed: 0'

In [21]:
# criar uma coluna que vai chamar obesity, usando metoth applay com a funcao lambda x
# alteracoes com valores objetos e ainda nao float

df_obesity["Obesity"] = df_obesity["Obesity (%)"].apply(lambda x: x.split()[0])

#dtype: object

In [25]:
# criar uma coluna que vai chamar obesity, usando metoth applay com a funcao lambda x
# alteracoes com valores objetos e ainda nao float

df_obesity["Obesity"]

#dtype: object

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesity, Length: 24570, dtype: object

In [22]:
df_obesity.loc[df_obesity["Obesity"] == "No", "Obesity"] = np.nan

In [23]:
# TODO  PROCED PARA TRANSF EM FLOAT (DE OBJECT PARA FLOAT)
df_obesity["Obesity"] = df_obesity["Obesity"].dropna()

In [24]:
# TODO  PROCED PARA TRANSF EM FLOAT (DE OBJECT PARA FLOAT)
df_obesity["Obesity"]

0         0.5
1         0.2
2         0.8
3         0.5
4         0.2
         ...
24565     4.5
24566    24.8
24567    15.5
24568     4.7
24569    25.3
Name: Obesity, Length: 24570, dtype: object