In [1]:
# Func_add


import pandas as pd
import numpy as np

In [2]:
# ler o arquivo
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")
df_obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [ ]:
# nem todas as funcoes que o Series tem o DF tem....
# to_frame() ou []
type(df_obesity[("")])