In [1]:
# Func_add


import pandas as pd
import numpy as np

In [2]:
# ler o arquivo
df_obesity = pd.read_csv("Datasets/obesity_cleaned.csv")
df_obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [3]:
# nem todas as funcoes que o Series tem o DF tem....
# to_frame() ou []
type(df_obesity[("Sex")])

pandas.core.series.Series

In [4]:
type(df_obesity[["Sex"]])

pandas.core.frame.DataFrame

In [5]:
# method to_frame
type(df_obesity["Sex"].to_frame())

pandas.core.frame.DataFrame

In [6]:
# transpose => transpor coluna virar indice e indice virar coluna
df_obesity[["Sex"]]

              Sex
0      Both sexes
1            Male
2          Female
3      Both sexes
4            Male
...           ...
24565        Male
24566      Female
24567  Both sexes
24568        Male
24569      Female

[24570 rows x 1 columns]

In [7]:
# valores transpostos
df_obesity[["Sex"]].transpose()

,0,1,2,3,4,5,6,7,8,9,...,24560,24561,24562,24563,24564,24565,24566,24567,24568,24569
Sex,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female

In [9]:
# shift =>  passa para o prox valor, coloca NaN na primeira linha e descarta a ultima

# shift
df_obesity[["Year"]].shift(1)

         Year
0         NaN
1      1975.0
2      1975.0
3      1975.0
4      1976.0
...       ...
24565  2015.0
24566  2015.0
24567  2015.0
24568  2016.0
24569  2016.0

[24570 rows x 1 columns]