## Perguntas - GDP Per Person (1901-2011)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import table
df_gdp = pd.read_csv("Datasets/gdp.csv")

In [3]:
df_gdp

,Country,Region,Year,GDP_pp
0,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1901,613.99
1,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1906,624.04
2,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1911,634.25
3,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1916,647.28
4,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1921,662.40
...,...,...,...,...
4414,Zimbabwe,Sub-Saharan Africa,1/1/1991,782.09
4415,Zimbabwe,Sub-Saharan Africa,1/1/1996,781.50
4416,Zimbabwe,Sub-Saharan Africa,1/1/2001,719.96
4417,Zimbabwe,Sub-Saharan Africa,1/1/2006,520.17
4418,Zimbabwe,Sub-Saharan Africa,1/1/2011,526.33

In [4]:
# - Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.
# possivelmente dados Year eh string => dtype: object
df_gdp["Year"]

0       1/1/1901
1       1/1/1906
2       1/1/1911
3       1/1/1916
4       1/1/1921
          ...
4414    1/1/1991
4415    1/1/1996
4416    1/1/2001
4417    1/1/2006
4418    1/1/2011
Name: Year, Length: 4419, dtype: object

In [7]:
# para ver o primeiro elemento ele vai estar com `` => '1/1/1901' => type => 
str
type(df_gdp["Year"].iloc[0])

str

In [11]:
# para iniciar a limpeza usamos o split
# retorna uma lista ("/")[-1] me interessa o ultimo elemento que eh o ano, seja inteiro
# vai retornar uma Series com todos os numetos inteiros
df_gdp["Year"].apply(lambda x: int(x.split("/")[-1]))

0       1901
1       1906
2       1911
3       1916
4       1921
        ...
4414    1991
4415    1996
4416    2001
4417    2006
4418    2011
Name: Year, Length: 4419, dtype: int64