## Perguntas - GDP Per Person (1901-2011)

In [22]:
import pandas as pd
import numpy as np

In [23]:
# import table
df_gdp = pd.read_csv("Datasets/gdp.csv")

In [24]:
df_gdp

,Country,Region,Year,GDP_pp
0,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1901,613.99
1,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1906,624.04
2,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1911,634.25
3,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1916,647.28
4,Afghanistan,"Middle East, North Africa, and Greater Arabia",1/1/1921,662.40
...,...,...,...,...
4414,Zimbabwe,Sub-Saharan Africa,1/1/1991,782.09
4415,Zimbabwe,Sub-Saharan Africa,1/1/1996,781.50
4416,Zimbabwe,Sub-Saharan Africa,1/1/2001,719.96
4417,Zimbabwe,Sub-Saharan Africa,1/1/2006,520.17
4418,Zimbabwe,Sub-Saharan Africa,1/1/2011,526.33

In [25]:
# - Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.
# possivelmente dados Year eh string => dtype: object
df_gdp["Year"]

0       1/1/1901
1       1/1/1906
2       1/1/1911
3       1/1/1916
4       1/1/1921
          ...
4414    1/1/1991
4415    1/1/1996
4416    1/1/2001
4417    1/1/2006
4418    1/1/2011
Name: Year, Length: 4419, dtype: object

In [26]:
# para ver o primeiro elemento ele vai estar com `` => '1/1/1901' => type => 
str
type(df_gdp["Year"].iloc[0])

str

In [27]:
# para iniciar a limpeza usamos o split
# retorna uma lista ("/")[-1] me interessa o ultimo elemento que eh o ano, seja inteiro
# vai retornar uma Series com todos os numetos inteiros
df_gdp["Year"].apply(lambda x: int(x.split("/")[-1]))

0       1901
1       1906
2       1911
3       1916
4       1921
        ...
4414    1991
4415    1996
4416    2001
4417    2006
4418    2011
Name: Year, Length: 4419, dtype: int64

In [28]:
# subscrever a coluna Year e executar
df_gdp["Year"] = df_gdp["Year"].apply(lambda x: int(x.split("/")[-1]))

In [29]:
type(df_gdp["Year"].iloc[0])

numpy.int64

In [30]:
# name das colunas (tem espaco, e eh preciso ver direitinho como esta escrito)
# ' GDP_pp '
df_gdp.columns

Index(['Country', 'Region', 'Year', ' GDP_pp '], dtype='object')

In [31]:
# ver o tipo de dado da coluna
type(df_gdp[" GDP_pp "].iloc[0])

str

In [32]:
df_gdp[" GDP_pp "].iloc[0]

' 613.99 '

In [33]:
df_gdp[" GDP_pp "].iloc[0].split(" ") # retorna 3 valores => ['', '613.99', '']

#float(df_gdp[" GDP_pp "].iloc[0].split()p[0])

['', '613.99', '']

In [34]:
# nao passar o parametro
df_gdp[" GDP_pp "].iloc[0].split() # retorna apenas uma lista com um valor

['613.99']

In [35]:
# pegar o valor 0
df_gdp[" GDP_pp "].iloc[0].split()[0]

'613.99'

In [36]:
# converter para float
float(df_gdp[" GDP_pp "].iloc[0].split()[0])

613.99

In [37]:
# criar uma nova Serie sem perder a outra
df_gdp["gdp_pp"] = df_gdp[" GDP_pp "].apply(lambda x: float(x.split()[0]))

#  ValueError: could not convert string to float: '1,030.89'
# series com outros tipos de dados de , e ponto .

ValueError: could not convert string to float: '1,030.89'

In [ ]:
# trab o . e a , da serie
# df_gdp["gdp_pp"] = 
df_gdp[" GDP_pp "].apply(lambda x: float(x.split()[0]))

In [38]:
# criar outra celula para tratar esse caso '1,030.89'
# substituir um valor por outro, mostrando os valores, vou subst uma , por nada ""
# ao executar a mesma string sem a , => '1030.89'
'1,030.89' .replace(",", "")

'1030.89'

In [39]:
# substituir os valores da ,
# df_gdp["gdp_pp"] = 
df_gdp[" GDP_pp "].apply(lambda x: float(x.split()[0].replace(",", "")))

0       613.99
1       624.04
2       634.25
3       647.28
4       662.40
         ...
4414    782.09
4415    781.50
4416    719.96
4417    520.17
4418    526.33
Name:  GDP_pp , Length: 4419, dtype: float64

In [40]:
# substituir os valores da , => serei limpa
df_gdp["gdp_pp"] = df_gdp[" GDP_pp "].apply(lambda x: float(x.split()[0].replace(",", "")))

In [41]:
df_gdp.head(20)

,Country,Region,Year,GDP_pp,gdp_pp
0,Afghanistan,"Middle East, North Africa, and Greater Arabia",1901,613.99,613.99
1,Afghanistan,"Middle East, North Africa, and Greater Arabia",1906,624.04,624.04
2,Afghanistan,"Middle East, North Africa, and Greater Arabia",1911,634.25,634.25
3,Afghanistan,"Middle East, North Africa, and Greater Arabia",1916,647.28,647.28
4,Afghanistan,"Middle East, North Africa, and Greater Arabia",1921,662.40,662.40
5,Afghanistan,"Middle East, North Africa, and Greater Arabia",1926,677.87,677.87
6,Afghanistan,"Middle East, North Africa, and Greater Arabia",1931,693.71,693.71
7,Afghanistan,"Middle East, North Africa, and Greater Arabia",1936,709.91,709.91
8,Afghanistan,"Middle East, North Africa, and Greater Arabia",1941,726.49,726.49
9,Afghanistan,"Middle East, North Africa, and Greater Arabia",1946,743.46,743.46
10,Afghanistan,"Middle East, North Africa, and Greater Arabia",1951,766.75,766.75
11,Afghanistan,"Middle East, North Africa, and Greater Arabia",1956,837.07,837.07
12,Afghanistan,"Middle East, North Africa, and Greater Arabia",1961,857.36,857.36
13,Afghanistan,"Middle East, North Africa, and Greater Arabia",1966,833.61,833.61
14,Afghanistan,"Middle East, North Africa, and Greater Arabia",1971,773.70,773.70
15,Afghanistan,"Middle East, North Africa, and Greater Arabia",1976,866.19,866.19
16,Afghanistan,"Middle East, North Africa, and Greater Arabia",1981,896.86,896.86
17,Afghanistan,"Middle East, North Africa, and Greater Arabia",1986,"1,030.89",1030.89
18,Afghanistan,"Middle East, North Africa, and Greater Arabia",1991,705.45,705.45
19,Afghanistan,"Middle East, North Africa, and Greater Arabia",1996,617.91,617.91

In [42]:
# deletar a coluna que nao importa mais com , e string GDP_pp
del df_gdp[" GDP_pp "]

In [43]:
df_gdp.head(20)

        Country                                         Region  Year   gdp_pp
0   Afghanistan  Middle East, North Africa, and Greater Arabia  1901   613.99
1   Afghanistan  Middle East, North Africa, and Greater Arabia  1906   624.04
2   Afghanistan  Middle East, North Africa, and Greater Arabia  1911   634.25
3   Afghanistan  Middle East, North Africa, and Greater Arabia  1916   647.28
4   Afghanistan  Middle East, North Africa, and Greater Arabia  1921   662.40
5   Afghanistan  Middle East, North Africa, and Greater Arabia  1926   677.87
6   Afghanistan  Middle East, North Africa, and Greater Arabia  1931   693.71
7   Afghanistan  Middle East, North Africa, and Greater Arabia  1936   709.91
8   Afghanistan  Middle East, North Africa, and Greater Arabia  1941   726.49
9   Afghanistan  Middle East, North Africa, and Greater Arabia  1946   743.46
10  Afghanistan  Middle East, North Africa, and Greater Arabia  1951   766.75
11  Afghanistan  Middle East, North Africa, and Greater Arabia  1956   837.07
12  Afghanistan  Middle East, North Africa, and Greater Arabia  1961   857.36
13  Afghanistan  Middle East, North Africa, and Greater Arabia  1966   833.61
14  Afghanistan  Middle East, North Africa, and Greater Arabia  1971   773.70
15  Afghanistan  Middle East, North Africa, and Greater Arabia  1976   866.19
16  Afghanistan  Middle East, North Africa, and Greater Arabia  1981   896.86
17  Afghanistan  Middle East, North Africa, and Greater Arabia  1986  1030.89
18  Afghanistan  Middle East, North Africa, and Greater Arabia  1991   705.45
19  Afghanistan  Middle East, North Africa, and Greater Arabia  1996   617.91

In [20]:
# - Você conseguiria informar o primeiro valor registrado de cada país?

In [44]:
# conjunto de dados Limpo, sem os pontos ou outro dado sem importancia para trab a tabela
df_gdp.head(20)

        Country                                         Region  Year   gdp_pp
0   Afghanistan  Middle East, North Africa, and Greater Arabia  1901   613.99
1   Afghanistan  Middle East, North Africa, and Greater Arabia  1906   624.04
2   Afghanistan  Middle East, North Africa, and Greater Arabia  1911   634.25
3   Afghanistan  Middle East, North Africa, and Greater Arabia  1916   647.28
4   Afghanistan  Middle East, North Africa, and Greater Arabia  1921   662.40
5   Afghanistan  Middle East, North Africa, and Greater Arabia  1926   677.87
6   Afghanistan  Middle East, North Africa, and Greater Arabia  1931   693.71
7   Afghanistan  Middle East, North Africa, and Greater Arabia  1936   709.91
8   Afghanistan  Middle East, North Africa, and Greater Arabia  1941   726.49
9   Afghanistan  Middle East, North Africa, and Greater Arabia  1946   743.46
10  Afghanistan  Middle East, North Africa, and Greater Arabia  1951   766.75
11  Afghanistan  Middle East, North Africa, and Greater Arabia  1956   837.07
12  Afghanistan  Middle East, North Africa, and Greater Arabia  1961   857.36
13  Afghanistan  Middle East, North Africa, and Greater Arabia  1966   833.61
14  Afghanistan  Middle East, North Africa, and Greater Arabia  1971   773.70
15  Afghanistan  Middle East, North Africa, and Greater Arabia  1976   866.19
16  Afghanistan  Middle East, North Africa, and Greater Arabia  1981   896.86
17  Afghanistan  Middle East, North Africa, and Greater Arabia  1986  1030.89
18  Afghanistan  Middle East, North Africa, and Greater Arabia  1991   705.45
19  Afghanistan  Middle East, North Africa, and Greater Arabia  1996   617.91