## Exercícios

# Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

In [10]:
import pandas as pd

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [49]:
df_gas_2001 = pd.read_csv("gasolina_2000.csv")
df_gas_2010 = pd.read_csv("gasolina_2010.csv", low_memory=False) # É um parâmetro de otimização usado pelo pandas ao ler arquivos CSV grandes.
# low_memory=True	Mais leve para a memória, mas pode confundir os tipos (padrão)

In [50]:
df_gas_2001 # Ver o df gas_2000

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42633,52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
42634,52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
42635,52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
42636,52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
42637,52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [55]:
# limpar o dado da primeira coluna
df_gas_2001 = pd.read_csv("gasolina_2000.csv", index_col=0)
df_gas_2001

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [52]:
# limpar o dado da primeira coluna, da segunta tabela
#df_gas_2010 = pd.read_csv("gasolina_2010.csv", index_col=0)


df_gas_2010 = pd.read_csv("gasolina_2010.csv", low_memory=False) # É um parâmetro de otimização usado pelo pandas ao ler arquivos CSV grandes.
# low_memory=True	Mais leve para a memória, mas pode confundir os tipos (padrão)
df_gas_2010

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
1,9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
2,9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
3,9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
4,9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78181,120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78182,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78183,120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
78184,120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [56]:
# ver somente a parte de cima da tabela
df_gas_2001.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [54]:
# ver somente a parte de cima da tabela
df_gas_2001.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [58]:
# 2. Combinar os dois DataFrames em um só, juntas ambos df
df_gas = pd.concat([df_gas_2001, df_gas_2010])

In [59]:
# Concatenando

print(df_gas)

      DATA INICIAL  DATA FINAL        REGIÃO              ESTADO  \
0       2004-05-09  2004-05-15  CENTRO OESTE    DISTRITO FEDERAL
1       2004-05-09  2004-05-15  CENTRO OESTE               GOIAS
2       2004-05-09  2004-05-15  CENTRO OESTE         MATO GROSSO
3       2004-05-09  2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL
4       2004-05-09  2004-05-15      NORDESTE             ALAGOAS
...            ...         ...           ...                 ...
78180   2021-04-25  2021-05-01         NORTE             RORAIMA
78181   2021-04-25  2021-05-01           SUL      SANTA CATARINA
78182   2021-04-25  2021-05-01       SUDESTE           SAO PAULO
78183   2021-04-25  2021-05-01      NORDESTE             SERGIPE
78184   2021-04-25  2021-05-01         NORTE           TOCANTINS

                PRODUTO  NÚMERO DE POSTOS PESQUISADOS UNIDADE DE MEDIDA  \
0      ETANOL HIDRATADO                           127              R$/l
1      ETANOL HIDRATADO                           387              R$/l
2      ETANOL HIDRATADO                           192              R$/l
3      ETANOL HIDRATADO                           162              R$/l
4      ETANOL HIDRATADO                           103              R$/l
...                 ...                           ...               ...
78180   OLEO DIESEL S10                            12              R$/l
78181   OLEO DIESEL S10                           100              R$/l
78182   OLEO DIESEL S10                           886              R$/l
78183   OLEO DIESEL S10                            33              R$/l
78184   OLEO DIESEL S10                            18              R$/l

       PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
0                    1.288                  0.016                 1.190
1                    1.162                  0.114                 0.890
2                    1.389                  0.097                 1.180
3                    1.262                  0.070                 1.090
4                    1.181                  0.078                 1.050
...                    ...                    ...                   ...
78180                4.582                  0.056                 4.510
78181                4.141                  0.187                 3.838
78182                4.246                  0.216                 3.769
78183                4.464                  0.205                 4.190
78184                4.352                  0.156                 4.199

       PREÇO MÁXIMO REVENDA MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
0                     1.350                0.463                     0.012
1                     1.449                0.399                     0.098
2                     1.760                0.419                     0.070
3                     1.509                0.432                     0.055
4                     1.400                 0.24                     0.066
...                     ...                  ...                       ...
78180                 4.690             -99999.0                     0.012
78181                 4.739             -99999.0                     0.045
78182                 5.199             -99999.0                     0.051
78183                 4.699             -99999.0                     0.046
78184                 4.699             -99999.0                     0.036

      PREÇO MÉDIO DISTRIBUIÇÃO DESVIO PADRÃO DISTRIBUIÇÃO  \
0                        0.825                       0.11
1                        0.763                      0.088
2                         0.97                      0.095
3                         0.83                      0.119
4                        0.941                      0.077
...                        ...                        ...
78180                 -99999.0                   -99999.0
78181                 -99999.0                   -99999.0
78182                 -99999.0                   -99999.0
78183                 -99999.0                   -99999.0
78184                 -99999.0                   -99999.0

      PREÇO MÍNIMO DISTRIBUIÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO  \
0                        0.4201                    0.9666
1                        0.5013                      1.05
2                        0.5614                     1.161
3                        0.5991                   1.22242
4                        0.7441                    1.0317
...                         ...                       ...
78180                  -99999.0                  -99999.0
78181                  -99999.0                  -99999.0
78182                  -99999.0                  -99999.0
78183                  -99999.0                  -99999.0
78184                  -99999.0                  -99999.0

      COEF DE VARIAÇÃO DISTRIBUIÇÃO  Unnamed: 0
0                             0.133         NaN
1                             0.115         NaN
2                             0.098         NaN
3                             0.143         NaN
4                             0.082         NaN
...                             ...         ...
78180                      -99999.0    120818.0
78181                      -99999.0    120819.0
78182                      -99999.0    120820.0
78183                      -99999.0    120821.0
78184                      -99999.0    120822.0

[120823 rows x 19 columns]

In [60]:
# ver a juncao dos 2 DF
df_gas

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Unnamed: 0
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,NaN
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,NaN
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,NaN
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,NaN
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78180,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,120818.0
78181,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,120819.0
78182,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,120820.0
78183,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,120821.0
78184,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,120822.0

In [61]:
# ver qtas linhas tem cada DF
df_gas_2001.shape

(42638, 18)

In [22]:
df_gas_2010.shape

(78185, 19)

In [62]:
df_gas.shape

(120823, 19)

# ### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [25]:
# tail an head ve um pedacinho dos dados
df_gas_2001.tail()
# df_gas_2001.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [26]:
# info mostra os tipos de dados
df_gas_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  object
 1   DATA FINAL                     42638 non-null  object
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 6.2+ MB

# Precisa tratar as datas que ele esta reconhecendo como object

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

# ["DATA INICIAL"] => series => coluna
# type(df_gas_2000["DATA INICIAL"][2]) => ver o typo => STR => precisa ser DATE_TIME =>  '2004-05-09'

In [63]:
df_gas_2001["DATA INICIAL"][2]

'2004-05-09'

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [64]:
df_gas_2001["DATA INICIAL"][2]

'2004-05-09'

In [65]:
# fazendo conversao para Date_time definitivo
df_gas_2001["DATA INICIAL"] = pd.to_datetime(df_gas_2001["DATA INICIAL"])

In [66]:
# ver a conversao
df_gas_2001["DATA INICIAL"][2]

Timestamp('2004-05-09 00:00:00')

In [67]:
# fazendo tratamento
pd.to_datetime(df_gas_2001["DATA INICIAL"][2])

Timestamp('2004-05-09 00:00:00')

In [68]:
# fazendo tratamento
pd.to_datetime(df_gas_2001["DATA INICIAL"])

0       2004-05-09
1       2004-05-09
2       2004-05-09
3       2004-05-09
4       2004-05-09
           ...
52802   2010-12-26
52803   2010-12-26
52804   2010-12-26
52805   2010-12-26
52806   2010-12-26
Name: DATA INICIAL, Length: 42638, dtype: datetime64[ns]

In [69]:
# ver o mes dessa conversao
pd.to_datetime(df_gas_2001["DATA INICIAL"])[2].month

5

In [70]:
# ver o Timestamp dessa conversao
pd.to_datetime(df_gas_2001["DATA INICIAL"])[2]

Timestamp('2004-05-09 00:00:00')

In [71]:
# resp exercicios
df_gas_2001["DATA INICIAL"] = pd.to_datetime(df_gas_2001["DATA INICIAL"])    
df_gas_2001["DATA FINAL"] = pd.to_datetime(df_gas_2001["DATA FINAL"])

In [72]:
# typo  => pandas._libs.tslibs.timestamps.Timestamp mudou o tipo do dado
type(df_gas_2001["DATA INICIAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência. 
# link mes ao ano

In [73]:
df_gas_2001["DATA FINAL"]

0       2004-05-15
1       2004-05-15
2       2004-05-15
3       2004-05-15
4       2004-05-15
           ...
52802   2011-01-01
52803   2011-01-01
52804   2011-01-01
52805   2011-01-01
52806   2011-01-01
Name: DATA FINAL, Length: 42638, dtype: datetime64[ns]

In [75]:
# referenciar mes com o ano
# para cada data extrair o ano => lambda => x: x.year
# string somente com ano =>  df_gas_2000["Year--Month"] = df_gas_2000["DATA FINAL"].apply(lambda x: '{}'.format(x.year))
df_gas_2001["Year--Month"] = df_gas_2001["DATA FINAL"].apply(lambda x: '{}'.format(x.year))

In [76]:
df_gas_2001["Year--Month"] # alteracoes

0        2004
1        2004
2        2004
3        2004
4        2004
         ...
52802    2011
52803    2011
52804    2011
52805    2011
52806    2011
Name: Year--Month, Length: 42638, dtype: object

In [77]:
# ano e mes

df_gas_2001["Year--Month"] = df_gas_2001["DATA FINAL"].apply(lambda x: '{}'.format(x.year)) + df_gas_2001["DATA FINAL"].apply(lambda x: '-{:02d}'.format(x.month))

In [78]:
df_gas_2001["Year--Month"]

0        2004-05
1        2004-05
2        2004-05
3        2004-05
4        2004-05
          ...
52802    2011-01
52803    2011-01
52804    2011-01
52805    2011-01
52806    2011-01
Name: Year--Month, Length: 42638, dtype: object

In [79]:
df_gas_2001["Year--Month"]  # -{:02d} duas casas decimais

0        2004-05
1        2004-05
2        2004-05
3        2004-05
4        2004-05
          ...
52802    2011-01
52803    2011-01
52804    2011-01
52805    2011-01
52806    2011-01
Name: Year--Month, Length: 42638, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [80]:
# ver todas as colunas
df_gas_2001.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'Year--Month'],
      dtype='object')

In [81]:
# see all the produts in the collumn
df_gas_2001['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM      9260
ÓLEO DIESEL         9260
ETANOL HIDRATADO    9256
GLP                 9256
GNV                 5606
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [83]:
# series de tru and false
df_filtro = df_gas_2001['PRODUTO'] == 'GASOLINA COMUM'

In [85]:
df2 = df_gas_2001[df_filtro]
# df_gas_2000_filter = df_gas_2000 = df_gas_2000['PRODUTO'] == 'GASOLINA COMUM'
# df_gas_2000["PRODUTO"] == 'GASOLINA COMUM ' => rule logic, to have values tru or false

In [86]:
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Year--Month
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21319,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,739,R$/l,2.669,0.116,2.399,3.249,0.295,0.043,2.374,0.055,2.271,2.5426,0.023,2011-01
21320,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,GASOLINA COMUM,2380,R$/l,2.510,0.096,2.199,2.999,0.335,0.038,2.175,0.061,1.9308,2.345,0.028,2011-01
21321,2010-12-26,2011-01-01,SUL,PARANA,GASOLINA COMUM,567,R$/l,2.588,0.103,2.359,2.900,0.298,0.040,2.29,0.057,2.137,2.493,0.025,2011-01
21322,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,607,R$/l,2.611,0.106,2.429,2.900,0.341,0.041,2.27,0.054,2.1499,2.5753,0.024,2011-01
21323,2010-12-26,2011-01-01,SUL,SANTA CATARINA,GASOLINA COMUM,384,R$/l,2.648,0.087,2.290,2.829,0.375,0.033,2.273,0.046,2.127,2.3916,0.02,2011-01

In [87]:
df2.shape

(9260, 19)

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [105]:
print(df2['Year--Month'].unique())

['2004-05' '2004-06' '2004-07' '2004-08' '2004-09' '2004-10' '2004-11'
 '2004-12' '2005-01' '2005-02' '2005-03' '2005-04' '2005-05' '2005-06'
 '2005-07' '2005-08' '2005-09' '2005-10' '2005-11' '2005-12' '2006-01'
 '2006-02' '2006-03' '2006-04' '2006-05' '2006-06' '2006-07' '2006-08'
 '2006-09' '2006-10' '2006-11' '2006-12' '2007-01' '2007-02' '2007-03'
 '2007-04' '2007-05' '2007-06' '2007-07' '2007-08' '2007-09' '2007-10'
 '2007-11' '2007-12' '2008-01' '2008-02' '2008-03' '2008-04' '2008-05'
 '2008-06' '2008-07' '2008-08' '2008-09' '2008-10' '2008-11' '2008-12'
 '2009-01' '2009-02' '2009-03' '2009-04' '2009-05' '2009-06' '2009-07'
 '2009-08' '2009-09' '2009-10' '2009-11' '2009-12' '2010-01' '2010-02'
 '2010-03' '2010-04' '2010-05' '2010-06' '2010-07' '2010-08' '2010-09'
 '2010-10' '2010-11' '2010-12' '2011-01']

In [101]:
df2.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'Year--Month'],
      dtype='object')

In [106]:
# filtrer on the new datasete
df2[df2['Year--Month'] == '2010-12']

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Year--Month
21189,2010-11-28,2010-12-04,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,80,R$/l,2.774,0.017,2.740,2.790,0.349,0.006,2.425,0.005,2.419,2.431,0.002,2010-12
21190,2010-11-28,2010-12-04,CENTRO OESTE,GOIAS,GASOLINA COMUM,256,R$/l,2.671,0.081,2.450,2.840,0.355,0.030,2.316,0.046,2.25,2.4742,0.02,2010-12
21191,2010-11-28,2010-12-04,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,139,R$/l,2.804,0.121,2.650,3.290,0.43,0.043,2.374,0.079,2.3,2.57,0.033,2010-12
21192,2010-11-28,2010-12-04,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,132,R$/l,2.683,0.124,2.520,2.999,0.343,0.046,2.34,0.06,2.234,2.4858,0.026,2010-12
21193,2010-11-28,2010-12-04,NORDESTE,ALAGOAS,GASOLINA COMUM,99,R$/l,2.810,0.102,2.430,2.899,0.503,0.036,2.307,0.047,2.2335,2.5129,0.02,2010-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21292,2010-12-19,2010-12-25,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,738,R$/l,2.660,0.115,2.399,3.249,0.293,0.043,2.367,0.053,2.2479,2.5426,0.022,2010-12
21293,2010-12-19,2010-12-25,SUDESTE,SAO PAULO,GASOLINA COMUM,2384,R$/l,2.494,0.097,2.179,2.999,0.325,0.039,2.169,0.063,1.96,2.403,0.029,2010-12
21294,2010-12-19,2010-12-25,SUL,PARANA,GASOLINA COMUM,568,R$/l,2.592,0.101,2.359,2.820,0.302,0.039,2.29,0.057,2.137,2.493,0.025,2010-12
21295,2010-12-19,2010-12-25,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,609,R$/l,2.609,0.107,2.349,2.900,0.341,0.041,2.268,0.054,2.1499,2.5753,0.024,2010-12
21296,2010-12-19,2010-12-25,SUL,SANTA CATARINA,GASOLINA COMUM,386,R$/l,2.636,0.084,2.290,2.799,0.361,0.032,2.275,0.041,2.1355,2.3916,0.018,2010-12

In [117]:
# see the average price for a specific month and year
df2[(df2['Year--Month'] == '2010-12') & (df2['ESTADO'] == 'SANTA CATARINA')]['PREÇO MÉDIO REVENDA'].mean()

np.float64(2.62975)

In [118]:
media = df2[(df2['Year--Month'] == '2010-12') & (df2['ESTADO'] == 'SANTA CATARINA')]["PREÇO MÉDIO REVENDA"].mean()
print(media)

2.62975

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?