### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [1]:
import pandas as pd

In [2]:
df2_table_2001 = pd.read_csv("gasolina_2000.csv")

In [4]:
df2_table_2001.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [7]:
# limpar a primeira coluna
df2_table_2001 = pd.read_csv("gasolina_2000.csv", index_col=0)
df2_table_2001

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [8]:
# info table
df2_table_2001.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  object
 1   DATA FINAL                     42638 non-null  object
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 6.2+ MB

In [10]:
df2_table_2001["DATA INICIAL"][2]

'2004-05-09'

In [11]:
df2_table_2001["DATA INICIAL"] = pd.to_datetime(df2_table_2001["DATA INICIAL"])

In [13]:
df2_table_2001["DATA INICIAL"][2]

Timestamp('2004-05-09 00:00:00')

In [15]:
pd.to_datetime(df2_table_2001["DATA INICIAL"][2])

Timestamp('2004-05-09 00:00:00')

In [16]:
# fazendo tratamento
pd.to_datetime(df2_table_2001["DATA INICIAL"])

0       2004-05-09
1       2004-05-09
2       2004-05-09
3       2004-05-09
4       2004-05-09
           ...
52802   2010-12-26
52803   2010-12-26
52804   2010-12-26
52805   2010-12-26
52806   2010-12-26
Name: DATA INICIAL, Length: 42638, dtype: datetime64[ns]

In [18]:
# ver o mes dessa conversao
pd.to_datetime(df2_table_2001["DATA INICIAL"])[2].month

5

In [19]:
# ver o Timestamp dessa conversao
pd.to_datetime(df2_table_2001["DATA INICIAL"])[2]

Timestamp('2004-05-09 00:00:00')

In [20]:
# resp exercicios
df2_table_2001["DATA INICIAL"] = pd.to_datetime(df2_table_2001["DATA INICIAL"])    
df2_table_2001["DATA FINAL"] = pd.to_datetime(df2_table_2001["DATA FINAL"])

In [21]:
# typo  => pandas._libs.tslibs.timestamps.Timestamp mudou o tipo do dado
type(df2_table_2001["DATA INICIAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
#coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência. 
# link mes ao ano
df2_table_2001["DATA FINAL"]

0       2004-05-15
1       2004-05-15
2       2004-05-15
3       2004-05-15
4       2004-05-15
           ...
52802   2011-01-01
52803   2011-01-01
52804   2011-01-01
52805   2011-01-01
52806   2011-01-01
Name: DATA FINAL, Length: 42638, dtype: datetime64[ns]

In [23]:
# referenciar mes com o ano
# para cada data extrair o ano => lambda => x: x.year
# string somente com ano =>  df_gas_2000["Year--Month"] = df_gas_2000["DATA FINAL"].apply(lambda x: '{}'.format(x.year))
df2_table_2001["Year--Month"] = df2_table_2001["DATA FINAL"].apply(lambda x: '{}'.format(x.year))

In [25]:
df2_table_2001["Year--Month"] # alteracoes

0        2004
1        2004
2        2004
3        2004
4        2004
         ...
52802    2011
52803    2011
52804    2011
52805    2011
52806    2011
Name: Year--Month, Length: 42638, dtype: object

In [26]:
# ano e mes
df2_table_2001["Year--Month"] = df2_table_2001["DATA FINAL"].apply(lambda x: '{}'.format(x.year)) + df2_table_2001["DATA FINAL"].apply(lambda x: '-{:02d}'.format(x.month))

In [27]:
df2_table_2001["Year--Month"]  # alteracoes

0        2004-05
1        2004-05
2        2004-05
3        2004-05
4        2004-05
          ...
52802    2011-01
52803    2011-01
52804    2011-01
52805    2011-01
52806    2011-01
Name: Year--Month, Length: 42638, dtype: object

In [28]:
df2_table_2001["Year--Month"]  # -{:02d} duas casas decimais

0        2004-05
1        2004-05
2        2004-05
3        2004-05
4        2004-05
          ...
52802    2011-01
52803    2011-01
52804    2011-01
52805    2011-01
52806    2011-01
Name: Year--Month, Length: 42638, dtype: object

In [29]:
df2_table_2001.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  datetime64[ns]
 1   DATA FINAL                     42638 non-null  datetime64[ns]
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
 18  Year--Month                    42638 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(11)
memory usage: 7.5+ MB

In [31]:
df2_table_2001

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Year--Month
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023,2011-01
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026,2011-01
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022,2011-01
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022,2011-01
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023,2011-01

In [34]:
df2_table_2001.head(3)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Year--Month
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05

In [36]:
df2_table_2001.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'Year--Month'],
      dtype='object')

In [37]:
# serie temporal com groupby max
df2_table_2001.groupby("Year--Month").max()["PREÇO MÉDIO REVENDA"]

Year--Month
2004-05    39.328
2004-06    39.046
2004-07    39.081
2004-08    39.052
2004-09    39.030
            ...
2010-09    46.742
2010-10    46.712
2010-11    46.679
2010-12    46.676
2011-01    46.622
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: float64

In [38]:
# serie temporal com groupby max
df2_table_2001.groupby("Year--Month").min()["PREÇO MÉDIO REVENDA"]

Year--Month
2004-05    0.766
2004-06    0.887
2004-07    0.899
2004-08    0.999
2004-09    0.999
           ...
2010-09    1.395
2010-10    1.399
2010-11    1.472
2010-12    1.298
2011-01    1.282
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: float64

In [39]:
df2_max = df2_table_2001.groupby("Year--Month").max()["PREÇO MÉDIO REVENDA"]
df2_min = df2_table_2001.groupby("Year--Month").min()["PREÇO MÉDIO REVENDA"]

In [42]:
df2_max

Year--Month
2004-05    39.328
2004-06    39.046
2004-07    39.081
2004-08    39.052
2004-09    39.030
            ...
2010-09    46.742
2010-10    46.712
2010-11    46.679
2010-12    46.676
2011-01    46.622
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: float64

In [43]:
# precisa organizar os dados formatados, comecando criando um DF vazio para organizar os dados

df2_diff = pd.DataFrame()

In [44]:
df2_diff

Empty DataFrame
Columns: []
Index: []

In [49]:
# vai  colocar somente a diferenca dos valores
df2_diff["abs_diff"] = df2_max - df2_min

In [50]:
df2_diff

             abs_diff
Year--Month
2004-05        38.562
2004-06        38.159
2004-07        38.182
2004-08        38.053
2004-09        38.031
...               ...
2010-09        45.347
2010-10        45.313
2010-11        45.207
2010-12        45.378
2011-01        45.340

[81 rows x 1 columns]

In [51]:
# vai  colocar somente a diferenca dos valores com colluns percent
df2_diff["percent_diff"] = (df2_max - df2_min) / df2_min

In [52]:
df2_diff

             abs_diff  percent_diff
Year--Month
2004-05        38.562     50.342037
2004-06        38.159     43.020293
2004-07        38.182     42.471635
2004-08        38.053     38.091091
2004-09        38.031     38.069069
...               ...           ...
2010-09        45.347     32.506810
2010-10        45.313     32.389564
2010-11        45.207     30.711277
2010-12        45.378     34.959938
2011-01        45.340     35.366615

[81 rows x 2 columns]

In [63]:
# vai  colocar somente a diferenca dos valores com colluns percent
df2_diff["percent_diff"] = (df2_max - df2_min) / df2_min * 100
df2_diff["max"] = df2_max
df2_diff["min"] = df2_min

In [64]:
df2_diff

             abs_diff  percent_diff     max    min
Year--Month
2004-05        38.562   5034.203655  39.328  0.766
2004-06        38.159   4302.029312  39.046  0.887
2004-07        38.182   4247.163515  39.081  0.899
2004-08        38.053   3809.109109  39.052  0.999
2004-09        38.031   3806.906907  39.030  0.999
...               ...           ...     ...    ...
2010-09        45.347   3250.681004  46.742  1.395
2010-10        45.313   3238.956397  46.712  1.399
2010-11        45.207   3071.127717  46.679  1.472
2010-12        45.378   3495.993837  46.676  1.298
2011-01        45.340   3536.661466  46.622  1.282

[81 rows x 4 columns]

In [55]:
# mostrar qual Estado eh maior e qual estado eh menor (PANDAS GROUPBY INDEX MAX)
df2_max = df2_table_2001.groupby("Year--Month").max()["PREÇO MÉDIO REVENDA"]

df2_min = df2_table_2001.groupby("Year--Month").min()["PREÇO MÉDIO REVENDA"]

In [56]:
df2_table_2001.groupby("Year--Month").idxmax()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
Year--Month,,,,,,,,,,,,,,,,,,
2004-05,54,54,24,19,43547,12141,36196,24145,24173,24142,24161,24144,33,24134,24198,24177,24134,36206
2004-06,162,162,105,100,43628,12249,36241,24226,24254,24253,24269,24270,87,24280,24297,24226,24215,36297
2004-07,297,297,213,208,43736,12330,36301,24442,24443,24431,24431,24335,211,24361,24405,24334,24323,36312
2004-08,405,405,348,343,43871,12438,36377,24523,24524,24469,24458,24486,24524,24485,24513,24539,24458,36404
2004-09,513,513,456,451,43979,12600,36441,24631,24632,24593,24647,24594,24632,24631,24630,24604,24593,36484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-09,8851,8851,8794,8789,52321,8820,41501,32958,32943,32921,32943,32921,41566,32904,32913,32969,32905,41543
2010-10,8986,8986,8902,8897,52429,8982,41569,33012,33015,33029,33077,33076,41582,33120,33013,33077,33013,41584
2010-11,9094,9094,9037,9032,52564,9117,41654,33228,33250,33164,33158,33221,41681,33147,33210,33217,33202,41713
2010-12,9202,9202,9145,9140,52672,9225,41720,33255,33285,33272,33266,33296,41736,33255,33336,33347,33255,41779
2011-01,9229,9229,9253,9248,52780,9252,41786,33363,33366,33380,33374,33382,41798,33374,33363,33379,33363,41794

In [81]:
df2_table_2001.groupby("Year--Month")["PREÇO MÉDIO REVENDA"].idxmax()

Year--Month
2004-05    24145
2004-06    24226
2004-07    24442
2004-08    24523
2004-09    24631
           ...
2010-09    32958
2010-10    33012
2010-11    33228
2010-12    33255
2011-01    33363
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: int64

In [82]:
idx2_max = df2_table_2001.groupby("Year--Month")["PREÇO MÉDIO REVENDA"].idxmax()
idx2_min = df2_table_2001.groupby("Year--Month")["PREÇO MÉDIO REVENDA"].idxmin()

In [83]:
idx2_max

Year--Month
2004-05    24145
2004-06    24226
2004-07    24442
2004-08    24523
2004-09    24631
           ...
2010-09    32958
2010-10    33012
2010-11    33228
2010-12    33255
2011-01    33363
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: int64

In [84]:
idx2_min

Year--Month
2004-05       50
2004-06      104
2004-07      212
2004-08    36398
2004-09    36446
           ...
2010-09     8793
2010-10    41582
2010-11    41666
2010-12    41782
2011-01    41798
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: int64

In [102]:
# acessar o estado
df2_table_2001.loc[idx2_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "Year--Month"]]
# loc => localiza. Pega todas as colunas (:]) e localiza somente o ESTADO

            ESTADO  PREÇO MÉDIO REVENDA Year--Month
24145         ACRE               39.328     2004-05
24226         ACRE               39.046     2004-06
24442         ACRE               39.081     2004-07
24523         ACRE               39.052     2004-08
24631         ACRE               39.030     2004-09
...            ...                  ...         ...
32958  MATO GROSSO               46.742     2010-09
33012  MATO GROSSO               46.712     2010-10
33228  MATO GROSSO               46.679     2010-11
33255  MATO GROSSO               46.676     2010-12
33363  MATO GROSSO               46.622     2011-01

[81 rows x 3 columns]

In [97]:
df2_diff

             abs_diff  percent_diff     max    min
Year--Month
2004-05        38.562   5034.203655  39.328  0.766
2004-06        38.159   4302.029312  39.046  0.887
2004-07        38.182   4247.163515  39.081  0.899
2004-08        38.053   3809.109109  39.052  0.999
2004-09        38.031   3806.906907  39.030  0.999
...               ...           ...     ...    ...
2010-09        45.347   3250.681004  46.742  1.395
2010-10        45.313   3238.956397  46.712  1.399
2010-11        45.207   3071.127717  46.679  1.472
2010-12        45.378   3495.993837  46.676  1.298
2011-01        45.340   3536.661466  46.622  1.282

[81 rows x 4 columns]

In [91]:
print(df2_diff.columns)

Index(['abs_diff', 'percent_diff', 'max', 'min'], dtype='object')

In [93]:
print(df2_table_2001.columns)

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'Year--Month'],
      dtype='object')

In [73]:
# 1. Descobrir qual é o índice da maior diferença
df2_max = df2_diff["percent_diff"].idxmax()

In [101]:
# 1. Descobrir qual é o índice da maior diferença
idx2_max

Year--Month
2004-05    24145
2004-06    24226
2004-07    24442
2004-08    24523
2004-09    24631
           ...
2010-09    32958
2010-10    33012
2010-11    33228
2010-12    33255
2011-01    33363
Name: PREÇO MÉDIO REVENDA, Length: 81, dtype: int64

In [96]:
# 2. Acessar os dados originais com esse índice
df2_diff.loc[df2_max, ["ESTADO", "PREÇO MÉDIO REVENDA", "Year--Month"]]

KeyError: "None of [Index(['ESTADO', 'PREÇO MÉDIO REVENDA', 'Year--Month'], dtype='object')] are in the [index]"