### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [1]:
import pandas as pd

In [2]:
df2_table_2001 = pd.read_csv("gasolina_2000.csv")

In [4]:
df2_table_2001.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [7]:
# limpar a primeira coluna
df2_table_2001 = pd.read_csv("gasolina_2000.csv", index_col=0)
df2_table_2001

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [8]:
# info table
df2_table_2001.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42638 entries, 0 to 52806
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DATA INICIAL                   42638 non-null  object
 1   DATA FINAL                     42638 non-null  object
 2   REGIÃO                         42638 non-null  object
 3   ESTADO                         42638 non-null  object
 4   PRODUTO                        42638 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 6   UNIDADE DE MEDIDA              42638 non-null  object
 7   PREÇO MÉDIO REVENDA            42638 non-null  float64
 8   DESVIO PADRÃO REVENDA          42638 non-null  float64
 9   PREÇO MÍNIMO REVENDA           42638 non-null  float64
 10  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 11  MARGEM MÉDIA REVENDA           42638 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 6.2+ MB

In [10]:
df2_table_2001["DATA INICIAL"][2]

'2004-05-09'

In [11]:
df2_table_2001["DATA INICIAL"] = pd.to_datetime(df2_table_2001["DATA INICIAL"])

In [13]:
df2_table_2001["DATA INICIAL"][2]

Timestamp('2004-05-09 00:00:00')

In [15]:
pd.to_datetime(df2_table_2001["DATA INICIAL"][2])

Timestamp('2004-05-09 00:00:00')

In [16]:
# fazendo tratamento
pd.to_datetime(df2_table_2001["DATA INICIAL"])

0       2004-05-09
1       2004-05-09
2       2004-05-09
3       2004-05-09
4       2004-05-09
           ...
52802   2010-12-26
52803   2010-12-26
52804   2010-12-26
52805   2010-12-26
52806   2010-12-26
Name: DATA INICIAL, Length: 42638, dtype: datetime64[ns]

In [18]:
# ver o mes dessa conversao
pd.to_datetime(df2_table_2001["DATA INICIAL"])[2].month

5

In [19]:
# ver o Timestamp dessa conversao
pd.to_datetime(df2_table_2001["DATA INICIAL"])[2]

Timestamp('2004-05-09 00:00:00')

In [20]:
# resp exercicios
df2_table_2001["DATA INICIAL"] = pd.to_datetime(df2_table_2001["DATA INICIAL"])    
df2_table_2001["DATA FINAL"] = pd.to_datetime(df2_table_2001["DATA FINAL"])

In [21]:
# typo  => pandas._libs.tslibs.timestamps.Timestamp mudou o tipo do dado
type(df2_table_2001["DATA INICIAL"].iloc[2])

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
#coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência. 
# link mes ao ano
df2_table_2001["DATA FINAL"]

0       2004-05-15
1       2004-05-15
2       2004-05-15
3       2004-05-15
4       2004-05-15
           ...
52802   2011-01-01
52803   2011-01-01
52804   2011-01-01
52805   2011-01-01
52806   2011-01-01
Name: DATA FINAL, Length: 42638, dtype: datetime64[ns]

In [23]:
# referenciar mes com o ano
# para cada data extrair o ano => lambda => x: x.year
# string somente com ano =>  df_gas_2000["Year--Month"] = df_gas_2000["DATA FINAL"].apply(lambda x: '{}'.format(x.year))
df2_table_2001["Year--Month"] = df2_table_2001["DATA FINAL"].apply(lambda x: '{}'.format(x.year))

In [25]:
df2_table_2001["Year--Month"] # alteracoes

0        2004
1        2004
2        2004
3        2004
4        2004
         ...
52802    2011
52803    2011
52804    2011
52805    2011
52806    2011
Name: Year--Month, Length: 42638, dtype: object